<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Que pasa pawooo</h1>
        <% for (let index = 0; index < data.length; index++) {%>
            <h2><%= data[index].name %></h2> 
            <h2><%= data[index].fecha_nacimiento.toLocaleDateString() %></h2> 
            <h2><%= data[index].documento %></h2> 
            <br>
        <% } %>
</body>
</html>